.borderLi {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 20%;
    text-align: center;
    font-size: 25px;
    margin: 15px;
    padding: 0;
}

.number {
    background-color: #0b55ec;
    color: #fff;
    padding: 20px;
    margin-block: 0;
}

.orderType {
    margin-block: 5px
}

.borderProd {
    border: solid 1px gold;
    padding: 0;
    background-color: #cccccc;
}

.borderProd p {
    margin-block: 10px
}

h6 {
    padding: 0;
    margin: 0 0 0 30px;
    text-align: left;
}

ul {
    background-color: #282c34;
    padding: 30px;
    margin: 0;
    width: 100%;
    height: 600px;
}

.cookButtons {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.readyButton,
.deliverButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 7px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    border-radius: 4px;
    font-size: 20px;
}

.deliverButton {
    background-color: #666666;
}
