.productCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    background-color: #282c34;
}

.productImage {
    width: 80%;
    height: 70%;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(10, 10, 10, 0.3);
    border-radius: 30px;
}

.productImage img {
    width: 100%;
}

.productDetails {
    margin: 40px;
    color: #cccccc;
    font-size: 40px;
    background-color: tomato;
}

.orderButtons {
    display: flex;
    width: 95%;
    justify-content: space-around;
    margin: 30px;
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.payButton,
.cancelButton {
    background-color: #4CAF50; /* зеленый цвет кнопки "Перейти к оплате" */
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
    cursor: pointer;
    border-radius: 15px;
}

.cancelButton {
    background-color: #f44336; /* красный цвет кнопки "Отменить заказ" */
}