.productCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    background-color: tomato;
}

.productImage {
    width: 80%;
    height: 550px;
    overflow: hidden;
}

.productImage img {
    width: 100%;
}

.productDetails {
    margin-top: 10px;
}

.orderButtons {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 20px;
    background-color: #282c34;
}

.payButton,
.cancelButton {
    background-color: #4CAF50; /* зеленый цвет кнопки "Перейти к оплате" */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 15px;
}

.cancelButton {
    background-color: #f44336; /* красный цвет кнопки "Отменить заказ" */
}