.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #282c34;
}

.card {
    width: 350px;
    background-color: #fff;
    border-radius: 10px;
    /*margin-bottom: 20px;*/
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    transition: box-shadow 0.3s ease;
    margin: 43px;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.card img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
    object-fit: cover;
}

.card h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
    padding: 10px;
}

.card p:last-of-type {
    font-weight: bold;
}